
github "ReactiveCocoa/ReactiveSwift" ~> 6.3
github "ReactiveCocoa/ReactiveCocoa" ~> 10.3

github "Alamofire/Alamofire" ~> 4.9
github "AckeeCZ/Reqres" ~> 3.1

github "AckeeCZ/ACKategories" ~> 6.5

github "SnapKit/SnapKit" ~> 5.0

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" ~> 6.26
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json" ~> 6.26
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" ~> 6.26
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json" ~> 6.26
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseProtobufBinary.json" ~> 6.26
