github "ReactiveCocoa/ReactiveSwift" ~> 6.1
github "ReactiveCocoa/ReactiveCocoa" ~> 10.1

github "Alamofire/Alamofire" ~> 4.9
github "AckeeCZ/Reqres" ~> 3.1

github "AckeeCZ/ACKategories" ~> 6.2

github "SnapKit/SnapKit" ~> 5.0

binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json" ~> 3.14
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json" ~> 1.10

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" ~> 6.13
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" ~> 6.13
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json" ~> 6.13
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json" ~> 6.13
