github "ReactiveCocoa/ReactiveSwift" ~> 6.0
github "ReactiveCocoa/ReactiveCocoa" ~> 10.0

github "Alamofire/Alamofire" ~> 4.8
github "AckeeCZ/Reqres" ~> 3.0

github "AckeeCZ/ACKategories" ~> 6.0

github "SnapKit/SnapKit" ~> 5.0
